<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).PROPERTY_PROJECT_NAME}}"></title>
</head>
<body>
  <div class="ui grid" id="contracts-list">
    <th:block th:fragment="contracts-list">
      <div class="row">
        <div class="column">
          <div class="ui stackable four column grid">
            <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_TEAMS_UPDATE)">
              <div class="three wide column no-padding">
                <div class="zone column ui left pointing dropdown">
                  <i th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}" th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_BIG_NEW}" style="padding-left: 40%;"></i>
                  <div class="menu" style="min-width: 220px;">
                    <div class="ui left search icon input">
                      <i class="search icon"></i>
                      <input type="text" name="search" />
                    </div>
                    <div class="divider"></div>
                    <div class="item" th:each="item : ${contracts}" th:onclick="'addcontract(' + ${team.id} + ',' + ${item.id} + ');'">
                      <div class="ui tiny label" style="border-radius: 5px; min-width: 45px; text-align: center;" th:text=${item.subArea.area.abbreviation} th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}"></div>
                      <label th:text="${item.name}"></label>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
            <th:block th:each="item, stat : ${teamcontract}">
              <div class="column">
                <div class="fourteen wide column no-padding">
                  <div class="ui card stackable">
                    <div class="content">
                      <h4 class="ui header" th:text="${item.contract.name}"></h4>
                      <div class="meta">
                        <span class="category" th:text="${item.contract.subArea.abbreviation}"></span>
                      </div>
                    </div>
                    <div class="extra content">
                      <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_TEAMS_UPDATE)">
                        <div class="right floated author">
                          <a th:onclick="'removecontract(' + ${item.team.id} + ', ' + ${item.contract.id} + ');'">
                            <i class="trash red icon"></i>
                          </a>
                        </div>
                      </th:block>
                      <th:block th:replace="common/fragments/fieldstatus :: status(statusId = 'item.contract.status.id',
													statusName ='item.contract.status.name',
													side = 'left' )" />
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  <br>
  <th:block th:replace="common/fragments/form :: actionbutton(icon1 = ${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_BACK},
		                                                          		icon1text = ${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_BACK},
		                                                          		icon1url = ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_TEAMS},
		                                                          		)" />
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</body>
</html>